@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap");

body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}

header {
  border-bottom: 1px solid #000;
}

nav {
  margin: 1rem auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

button {
  padding: 0.75rem 2.25rem;
  border: none;
  border-radius: 5rem;
  text-transform: uppercase;
  box-sizing: border-box;
  transition: 0.3s;
}

button.primary {
  background-color: #000;
  color: #fff;
  border: 1px solid #000;
}

button.primary:hover,
button.primary:focus {
  color: #000;
  background-color: #fff;
}

button.secondary {
  border: 1px solid #000;
  color: #000;
  background-color: #fff;
}

button.secondary:hover,
button.secondary:focus {
  background-color: #000;
  color: #fff;
}

h1 {
  text-transform: uppercase;
  font-weight: 400;
  margin: 2rem 0;
  font-size: 2rem;
}

h4 {
  text-transform: uppercase;
  font-weight: 400;
  margin: 0;
  font-size: 1.5rem;
}

h6 {
  font-weight: 400;
  margin: 0;
  font-size: 1rem;
}

nav #smileFace {
  display: none;
  fill: #000;
}

.hero {
  text-align: center;
  margin: 3rem 0;
}

.hero .hero-bg {
  background-color: #fff959;
  min-height: 256px;
  border-radius: 1rem;
}

.hero button {
  width: 100%;
  margin-top: 1rem;
}

.card {
  border: none;
  margin-top: 1.5rem;
}

.card .card-top {
  background-color: #fff959;
  min-height: 350px;
  box-sizing: border-box;
  transition: 0.3s;
}

.card:hover {
  cursor: pointer;
}

.card-top:hover,
.card-top:focus {
  border: 1px solid #000;
}

.card .card-body {
  padding: 1.5rem 0;
}

.card .card-body button {
  margin-top: 1.5rem;
  width: 100%;
}

footer {
  background-color: #000;
  color: #fff;
  padding: 2rem 0;
  margin-top: 2rem;
  text-align: center;
}

footer #smileFace {
  fill: #fff;
  display: block;
  margin-bottom: 1rem;
}

@media only screen and (min-width: 768px) {
  .hero {
    position: relative;
  }

  .hero .hero-bg {
    min-height: 650px;
  }

  .hero .hero-content {
    position: absolute;
    width: 75%;
    top: 25%;
    left: 50%;
    transform: translateX(-50%);
  }

  nav #smileFace {
    display: block;
  }

  .card {
    padding: 1.5rem;
  }

  footer .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}

@media only screen and (min-width: 992px) {
  .hero .hero-bg {
    min-height: 750px;
  }

  .card {
    padding: 1.5rem;
  }

  .card .card-top {
    min-height: 450px;
  }

  /*This styles are a little hard-coded, the objective is to fit the container, as the column's gutter didn´t worked for me as expected */

  .card:nth-child(3n + 1),
  .card:first-child {
    padding-left: 0;
  }

  .card:nth-child(3n) {
    padding-right: 0;
  }
}
